
<div class="animate__animated animate__fadeIn animate__faster">
    <h2>Por Capital</h2>
    <hr>
    <div class="row">
        <div class="col">
            <app-pais-input (onEnter)="buscar( $event )" (onDebounce)="sugerencias( $event )"
             placeholder="Buscar Capital...">
            </app-pais-input>
        </div>
    </div>

    <ul class="list-group">
        <li *ngFor="let pais of capitalesSugeridas" class="list-group-item list-group-item-action">
            <a [routerLink]="['/pais', pais.alpha2Code]">
                {{pais.capital}}
            </a>
           
        </li>
    </ul>

    <hr>
</div>

<div *ngIf="hayError" class="aler alert-danger">
    No se econtró nada con el termino {{termino}}
</div>

<div *ngIf="paises.length > 0" class="row">
    <div class="col">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>

    </div>
</div>